<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="header">
      Test
    </div>
    
    <p>Content</p>

    <script src="/js/english.js"></script>
  </body>
</html>
