<!DOCTYPE html>
<html>
  <head>
    <title>English.py - Lessons</title>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet"> 
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="header">English.py</div> 
    
    <div class="container">
      <p>Lessons!</p>
    </div>

    <script src="/js/english.js"></script>
  </body>
</html>
