<!DOCTYPE html>
<html>
  <head>
    <title>English.py - Lessons</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet"> 
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
        <h1 class="text-center" id="header"> English<span id="extension-style">.py</span></h1> 
        <hr>
        <div class="row">
            <div class="col-sm">
                <h3>Lessons</h3>
                
                <div id="accordian">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Lesson 1 - Hello World!
                                </button>
                            </h5>
                        </div>
                            
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                This is where our lesson is going to go.
                            </div>
                        </div>
                    </div>
                            
                </div>
            </div>

            <div class="col-sm">
                <h3>Code</h3>

                <div class="form-group">
                    <textarea tabindex="-1" class="form-control" rows="10" id="code"></textarea>
                    
                    <hr>
                    <button id="run" type="button" class="btn btn-primary">Run Code</button>
                    <hr>

                    <div class="pre-scrollable" id="console">
                        [EnglishScript] Loaded.
                    </div>
                </div> 
            </div>
        </div>
    </div>

        <script src="/js/codeview.js"></script>
        <script src="/js/english.js"></script>

        <script>
            CodeView.init();
        </script>
  </body>
</html>
