<!DOCTYPE html>
<html>
  <head>
    <title>English.py - Lessons</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet"> 
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
        <h1 class="text-center" id="header"> English<span id="extension-style">.py</span></h1> 
        <hr>
        <div class="row">
            <div class="col-sm">
                <h3>Lessons</h3>
                <ul class="list-group">
                    <li class="list-group-item">Lesson One: Hello World</li>
                    <li class="list-group-item">Lesson Two: Variables</li>
                    <li class="list-group-item">Lesson Three: More Variables!</li>
                </ul>
            </div>

            <div class="col-sm">
                <h3>Data</h3>
            </div>
        </div>
    </div>
          
        <script src="/js/english.js"></script>
  </body>
</html>
