html {

}

body {
  font: 14px Helvetica, Arial, sans-serif;
}


#subtitle {
  font: 16px;
}

#header {

  font-family: 'Comfortaa', cursive;
  color: black;
}

#extension-style {
  color: #ff3f31;
}

a {
  color: #00B7FF;
}
